@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
    body {
        font-size: 3rem;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
    body, .sidenav li > a {
        font-size: 32px;
    }
}

@media only screen and (max-width: 992px) {
    nav ul.navbar {
        display: none
    }
}


html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header nav {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    line-height: 8vh;
    background-color: #dedede;
    color: black;

}

header nav div.title {
    flex-grow: 1;
}

header nav div.title div.picture {
    flex-basis: 0;
}

header nav div.title img {
    vertical-align: middle;
}

header nav a {
    color: black;
}

header nav span.title {
    color: black;
}

header ul.sidenav {
    margin-top: 8.4vh;
    width: 20em;
}

nav i.material-icons {
    font-size: 4rem;
}

nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: unset;
    height: auto;
}

nav i.menu-icon {
    font-size: 2.3rem;
    color: darkslategrey;
    vertical-align: middle;
}

header nav div.title img {
    object-fit: contain;
    max-width: 84%;
    max-height: 120%;
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

header nav div.title:hover img {
    max-width: 24rem;
    max-height: 24rem;
    width: auto;
    height: auto;
    margin-left: -3rem;
    margin-top: -3rem
}

header nav div.title:hover span.name {
    display: none;
}


main {
    width: 100%;
    height: 92vh;
    overflow: scroll;
}

div.block {
    position: relative;
    height: 92vh;
}

/* manifesto section */
div.manifesto.vision {
    position: absolute;
    width: 100%;
    height: 14vh;
    padding: 1.3em 0.3em 1em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.manifesto.vision .text {
    width: 88vw;
    max-width: 1000px;
    font-size: 130%;
    background-color: rgba(255, 255, 255, 0.7);
}

div.manifesto.main {
    position: absolute;
    top: 15vh;
    width: 100%;
    height: 100%;
}

div.manifesto .box {
    margin: 1em 0.5em;
    border-radius: 0.5em;
    width: 50%;
    border: lightgray solid 1px;
    padding: 1em;
}

div.manifesto .two-topics {
    height: 36vh;
    display: flex;
    flex-direction: row;
}

div.manifesto div.box {
    width: 50%;
}

div.manifesto div.box.topics h3 {
    font-size: 150%;
    font-variant: all-petite-caps;
    font-weight: bold;
    line-height: 1.1rem;
    margin: 0rem 0 1.3rem 0;
    color: slategray;
}

div.manifesto div.box.topics div.text {
    text-align: justify;
    font-family: Serif;
    line-height: 1.3em;
    padding-bottom: 1em;
}

div.manifesto div.box.topics div.text p {
    margin-top: 0.7rem;
    margin-bottom: 0;
}


div.manifesto span.em {
    font-weight: bold;
    color: darkslategray;
}

div.intro-dialog {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 48%;
}


#intro-card .card-content {
    padding: 0.7em;
}

#intro-card p.action {
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: -0.7em;

}

/* Buzzword timeline section */
#timeline {
    opacity: 0.3;
}

#button-help {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    cursor: pointer;
    opacity: 0.3;
}

#button-help i {
    font-size: 4rem;
    color: darkblue;
}

i.help-icon {
    font-size: 2rem;
    color: darkblue;
    vertical-align: middle;
}

#buzzword-help {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    /* max-width: 600px; */
    top: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1000;
}

#buzzword-help div.contents {
    position: relative;
    width: 80vw;
    max-width: 800px;
    margin: auto;
    background: white;
    border-style: solid;
    border-width: 0.5pt;
    border-color: grey;
    border-radius: 1em;
    padding: 0.5em;
    opacity: 1;
}

#buzzword-help div.contents header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    border-bottom: #607D8B solid 1px;
    font-size: 130%;
    font-weight: bold;
    color: gray;
}

#buzzword-help div.contents main {
    height: auto;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em

}

#buzzword-help div.contents ul {
    padding-left: 2em;
    margin-top: -1em;

}

#buzzword-help div.contents ul li {
    list-style-type: disc;
}

#buzzword-help div.contents footer div {
    font-size: 130%;
    text-align: right;
}

text.name {
    text-anchor: start;
    font-family: sans-serif;
}


g.category text.title {
    text-anchor: start;
    dominant-baseline: middle;
    font-size: 200%;
    font-weight: bolder;
    opacity: 0.4;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (orientation: portrait) {
    g.category text.title {
        font-size: 120%;
        opacity: 0.55;
    }
}

g.position, g.skill {
    cursor: pointer;
}

g.position path.box {
    fill: cornflowerblue;
}

g.position circle.failure {
    fill: lightgrey;
}

g.position rect.failure {
    fill: lightgrey;
}

g.position rect.transparent {
    fill: none;
}

g.position text.organization {
    text-anchor: middle;
    fill: white;
    font-weight: bold;
    dominant-baseline: hanging;
    font-family: sans-serif;
}

g.position text.location {
    fill: lightgrey;
    text-anchor: middle;
    dominant-baseline: mathematical;
}

g.position text.role {
    fill: white;
    font-style: italic;
    text-anchor: middle;
    dominant-baseline: alphabetic;
}

g.axis-date path.domain {
    display: none;
}

g.axis-date path.domain {
    display: none;
}

g.axis-date g.tick line {
    stroke: lightgray;
    stroke-width: 3px;
}

g.axis-date g.tick text {
    fill: lightgray;
    font-weight: bold;
}


foreignObject.skill-details body {
    max-width: 550px;
    width: 80vw;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (orientation: portrait) {
    html {
    }

    foreignObject.skill-details body {
        max-width: none;
        width: 95vw;
        font-size: 120%;
    }

    foreignObject.skill-details body .action {
        font-size: 4rem;
    }
}

foreignObject.skill-details {
    overflow: visible;
}

foreignObject.skill-details body {
    margin: 0px;
    height: auto;
}

foreignObject.skill-details body {
    display: flex;
    flex-direction: column;
    border: gray solid 1px;
    border-radius: 0.5em;
    background: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    box-shadow: 1px 3px 7px 1px grey
}

foreignObject.skill-details header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    border-bottom: lightgray solid 1px;
}

foreignObject.skill-details header .navigation i {
   vertical-align: bottom;
}

foreignObject.skill-details header div.category {
    color: grey;
    font-size: 105%;
    font-weight: bolder;
}

foreignObject.skill-details header div.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 130%;
    font-weight: bolder;
}

foreignObject.skill-details body .action {
    color: #039be5;
    cursor: pointer;
}

foreignObject.skill-details body div.description {
    padding-top: 0.5em;
}

foreignObject.skill-details body p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.3;
}

foreignObject.skill-details body div.links ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

foreignObject.skill-details body div.links ul li::before {
    content: "☛ ";
    font-size: 140%;

}

foreignObject.skill-details body span.quote {
    font-style: italic;
}


/*  Contact section */
#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact-section .row {
    display: flex;
    flex-direction: row;
}

#contact-section .row .left, #contact-section .row .right {
    width: 50%;
}

#contact-section .row .left {
    text-align: right;
    padding-right: 1em;
}

#contact-section .row .right.border {
    border-left: gray solid 1px;
}

#contact-section .row .right {
    text-align: left;
    padding-left: 1em;
}

#contact-section img.icon {
    height: 0.8em;
    margin-right: 0.5em;
}

#contact-section .row p {
    margin: 0px 0.1em;
}

#contact-section .row a {
    color: inherit;
}
